.UI{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    padding: 50px 0;

    &-kit{
        margin-bottom: 100px;

        width: 50%;

        text-align: center;

        &--big{
            width: 100%;
        }
    }

    @media screen and (max-width: 700px){
        &-kit{
            width: 100%;
        }
    }
}