.footer{
    &-go_top{
        display: block;
        color: #0275d8;
        font-size: 14px;
        transition: none;
        &:hover{
            color: #014c8c;
            text-decoration: underline;
        }
    }
    &-header{
        .header{
            min-height: 100px;
        }
    }
}