.logo {
  text-align: left; }
  .logo-name {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333; }
  .logo-description {
    font-size: 14px;
    color: #888; }
  @media screen and (max-width: 850px) {
    .logo {
      text-align: center; } }
