.title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f1f5;
  background-image: url(../img/title-bg.jpg);
  background-position: center;
  background-size: 100% 100%;
  text-align: center; }
  .title-description {
    padding: 0 20px; }
  .title-name {
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 40px;
    color: #333; }
  .title-note {
    max-width: 500px;
    font-size: 18px;
    line-height: 36px;
    color: #555; }
  .title-select {
    padding: 10px 0; }
  .title-btn {
    margin: 10px 15px;
    display: inline-block;
    padding: 16px 40px;
    border-radius: 4px;
    color: #FFF;
    font-size: 22px;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.7s; }
    .title-btn:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
    .title-btn--galery {
      background-color: #da5550; }
    .title-btn--more_info {
      background-color: #5bb85d; }
