.btn{
    display: inline-block;

    box-sizing: border-box;
    width: 90px;
    border: 2px solid #e6e7ec;
    border-radius: 20px;

    line-height: 32px;
    text-align: center;

    cursor: pointer;

    transition: 0.3s;

    &:hover{
        border-color: #00e4a8;
        color: #00e4a8;
    }

    &--no_bordered{
        border: none;
        border-radius: 0px;
        &:hover{
            color: #00e4a8;
        }
    }
}