.UI {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
  background-color: #DEEAE0; }
  .UI-kit {
    margin-bottom: 100px;
    box-sizing: border-box;
    width: 50%;
    text-align: center; }
    .UI-kit--big {
      width: 100%; }
    .UI-kit--padding {
      padding: 0 5%; }
    .UI-kit .slider {
      margin: 0 auto;
      max-width: 1000px; }
  @media screen and (max-width: 700px) {
    .UI-kit {
      width: 100%; } }

.select {
  position: relative;
  display: inline-block;
  height: 42px;
  box-sizing: border-box;
  color: #FFF;
  text-align: left; }
  .select-input, .select-btn {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #3a3f5c;
    color: #FFF;
    line-height: 42px; }
  .select-input {
    width: 200px;
    height: 100%;
    padding: 0 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .select-btn {
    width: 40px;
    height: 100%;
    border-left: 2px solid #A1A6BB;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    text-align: center;
    cursor: pointer; }
  .select-btn_icon {
    position: relative;
    transition: 0.3s; }
  .select-value_list {
    z-index: 2;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    max-height: 232px;
    border-radius: 5px;
    background-color: #FFF;
    color: #3a3f5c;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.4);
    opacity: 0;
    height: 0;
    overflow: auto;
    transition: 0.3s; }
    .select-value_list .ps-scrollbar-y-rail {
      margin: 10px 0;
      right: 10px; }
      .select-value_list .ps-scrollbar-y-rail .ps-scrollbar-y {
        background-color: #3a3f5c; }
  .select-value {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: inherit;
    outline: none;
    color: inherit;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    transition: 0.3s; }
    .select-value:hover, .select-value--active {
      background-color: #F1F2F7; }
  .select--active .select-btn_icon {
    -webkit-transform: translateX(-2%) rotate(180deg);
    -ms-transform: translateX(-2%) rotate(180deg);
    transform: translateX(-2%) rotate(180deg); }
  .select--active .select-value_list {
    height: auto;
    opacity: 1; }

.select_number {
  display: inline-block;
  box-sizing: border-box;
  height: 42px;
  color: #FFF;
  text-align: left; }
  .select_number-value, .select_number-actions {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #3a3f5c;
    color: #FFF;
    line-height: 42px; }
  .select_number-value {
    width: 60px;
    padding: 0 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    font-size: 18px; }
  .select_number-actions {
    width: 40px;
    height: 100%;
    border-left: 2px solid #A1A6BB;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    text-align: center; }
  .select_number-btn {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    background-color: inherit;
    outline: none;
    text-align: center;
    color: #FFF;
    font-size: 8px;
    cursor: pointer; }
    .select_number-btn--top {
      border-bottom: 1px solid #A1A6BB;
      border-top-right-radius: 5px; }
    .select_number-btn--bottom {
      border-top: 1px solid #A1A6BB;
      border-bottom-right-radius: 5px; }
  .select_number-btn_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  transition: 0.3s; }
  .switch-line {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #F34F36;
    transition: 0.3s; }
  .switch-status {
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #F34F36;
    transition: 0.3s; }
  .switch-icon {
    position: absolute;
    top: 50%;
    color: rgba(51, 51, 51, 0.4);
    font-size: 16px; }
    .switch-icon--left {
      left: 10%;
      -webkit-transform: translate(30%, -50%);
      -ms-transform: translate(30%, -50%);
      transform: translate(30%, -50%); }
    .switch-icon--right {
      left: 90%;
      -webkit-transform: translate(-130%, -50%);
      -ms-transform: translate(-130%, -50%);
      transform: translate(-130%, -50%); }
  .switch--active .switch-line {
    background-color: #47D5A3; }
  .switch--active .switch-status {
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background-color: #47D5A3; }
  .switch--disabled .switch-line {
    background-color: #E4E8F1; }
  .switch--disabled .switch-status {
    background-color: #E4E8F1; }
  .switch--rounded {
    width: 70px;
    height: 40px;
    background-color: #F34F36;
    border-radius: 20px; }
    .switch--rounded .switch-status {
      left: 90%;
      background-color: #FFF; }
    .switch--rounded.switch--active {
      background-color: #47D5A3; }
      .switch--rounded.switch--active .switch-status {
        left: 10%; }
    .switch--rounded.switch--disabled {
      background-color: #E4E8F1; }
      .switch--rounded.switch--disabled .switch-status {
        background-color: rgba(255, 255, 255, 0.8); }
  .switch--light {
    height: 36px;
    background-color: #f1f2f7; }
    .switch--light.switch--active {
      background-color: #f1f2f7; }
    .switch--light .switch-status {
      box-shadow: 0 0 20px rgba(51, 51, 51, 0.3); }
    .switch--light .switch-icon--left {
      color: rgba(243, 79, 54, 0.7); }
    .switch--light .switch-icon--right {
      color: rgba(71, 213, 163, 0.7); }

.checkbox_list {
  display: inline-block; }
  .checkbox_list-checkbox .checkbox {
    border-radius: 0; }
  .checkbox_list-checkbox:not(:last-child) .checkbox {
    border-bottom: none; }
  .checkbox_list-checkbox:first-child .checkbox {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .checkbox_list-checkbox:last-child .checkbox {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.checkbox {
  display: inline-block;
  border: 2px solid #3a3f5c;
  border-radius: 5px; }
  .checkbox-input {
    display: none;
    position: fixed;
    left: -9999px; }
  .checkbox-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 42px;
    background-color: inherit;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: #3a3f5c;
    cursor: pointer; }
  .checkbox-status {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 100%;
    background-color: rgba(58, 63, 92, 0.9); }
  .checkbox-status_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2px;
    border: 2px solid #3a3f5c;
    border-radius: 5px;
    background-color: #FFF;
    color: #FFF;
    font-size: 12px;
    transition: 0.3s; }
  .checkbox-name {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    padding: 0 10px;
    line-height: 44px;
    font-weight: bold;
    text-align: left; }
  .checkbox-input:checked + .checkbox-btn .checkbox-status_icon {
    color: #3a3f5c; }
  .checkbox-input:disabled + .checkbox-btn {
    background-color: #E4E7F0;
    opacity: 0.8; }

.radiobox_list {
  display: inline-block; }
  .radiobox_list-radiobox .radiobox {
    border-radius: 0; }
  .radiobox_list-radiobox:not(:last-child) .radiobox {
    border-bottom: none; }
  .radiobox_list-radiobox:first-child .radiobox {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .radiobox_list-radiobox:last-child .radiobox {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.radiobox {
  display: inline-block;
  border: 2px solid #3a3f5c;
  border-radius: 5px; }
  .radiobox-input {
    display: none;
    position: fixed;
    left: -9999px; }
  .radiobox-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 42px;
    background-color: inherit;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: #3a3f5c;
    cursor: pointer; }
  .radiobox-status {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 100%;
    background-color: rgba(58, 63, 92, 0.9); }
  .radiobox-status_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2px;
    border: 2px solid #3a3f5c;
    border-radius: 50%;
    background-color: #FFF;
    color: #FFF;
    font-size: 12px;
    transition: 0.3s; }
  .radiobox-name {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    padding: 0 10px;
    line-height: 44px;
    font-weight: bold;
    text-align: left; }
  .radiobox-input:checked + .radiobox-btn .radiobox-status_icon {
    color: #3a3f5c; }
  .radiobox-input:disabled + .radiobox-btn {
    background-color: #E4E7F0;
    opacity: 0.8; }

.select_file {
  display: inline-block;
  width: 500px;
  height: 300px; }
  .select_file-input {
    display: none;
    position: fixed;
    left: -9999px; }
  .select_file-file_list {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    border: 2px dashed rgba(58, 63, 92, 0.7);
    border-radius: 5px;
    text-align: center; }
    .select_file-file_list .ps-scrollbar-y-rail {
      margin: 10px 0;
      right: 10px; }
      .select_file-file_list .ps-scrollbar-y-rail .ps-scrollbar-y {
        background-color: #3a3f5c; }
  .select_file-file {
    margin: 0 20px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 40%;
    height: 75px;
    padding: 0 20px;
    background-color: #3a3f5c;
    border-radius: 5px;
    line-height: 75px;
    color: #FFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*&:last-child{
            &:after{
                content: '';
                clear: both;
            }
        }*/ }
    .select_file-file:not(:last-child) {
      margin-bottom: 20px; }
  .select_file-btn {
    display: inline-block;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #3a3f5c;
    outline: none;
    line-height: 40px;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer; }
    .select_file-btn--choose {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #4CE1AA;
      box-shadow: 0 10px 20px rgba(51, 51, 51, 0.4); }
    .select_file-btn--new_files {
      background-color: #4CE1AA; }
    .select_file-btn--add {
      background-color: #4CE1AA; }
    .select_file-btn--remove_files {
      background-color: #ea4e37; }
  .select_file-actions {
    width: 100%;
    text-align: center; }
  @media screen and (max-width: 750px) {
    .select_file {
      width: 300px; }
      .select_file-file {
        margin-left: 0;
        margin-right: 0;
        width: 100%; } }

.slider {
  position: relative;
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden; }
  .slider-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #E4E7F0; }
    .slider-header .name {
      display: inline-block;
      vertical-align: middle;
      color: #3A3F5C;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }
    .slider-header .switch {
      margin-left: 10px;
      vertical-align: middle; }
    .slider-header .description {
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      text-transform: capitalize; }
  .slider-btn {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    background-color: inherit;
    border: 2px solid #E4E7F0;
    outline: none;
    line-height: 24px;
    color: #333;
    cursor: pointer;
    transition: 0.3s; }
    .slider-btn--left {
      border-right-width: 1px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
    .slider-btn--right {
      border-left-width: 1px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px; }
    .slider-btn--disabled {
      background-color: #EC4E35;
      border-color: #EC4E35;
      color: #FFF;
      opacity: 0.7; }
  .slider-slide_list {
    position: relative;
    width: 100%;
    white-space: nowrap;
    transition: 0.3s; }
  .slider-slide {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 25%;
    padding: 20px; }
  .slider--scrolled .slider-slide_list {
    padding-bottom: 10px; }
    .slider--scrolled .slider-slide_list .ps-scrollbar-x-rail {
      margin: 0 20px;
      bottom: 10px;
      opacity: 0.6; }
      .slider--scrolled .slider-slide_list .ps-scrollbar-x-rail .ps-scrollbar-x {
        background-color: #3a3f5c; }
  @media screen and (max-width: 1000px) {
    .slider-slide {
      padding-left: 10%;
      padding-right: 10%;
      width: 50%; } }
  @media screen and (max-width: 700px) {
    .slider-slide {
      padding-left: 30%;
      padding-right: 30%;
      width: 100%; } }
  @media screen and (max-width: 500px) {
    .slider-header {
      height: 100px;
      padding: 10px 0;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; } }
  @media screen and (max-width: 550px) {
    .slider-slide {
      padding-left: 20%;
      padding-right: 20%;
      width: 100%; } }
  @media screen and (max-width: 400px) {
    .slider-slide {
      padding-left: 15%;
      padding-right: 15%;
      width: 100%; } }

.item_card {
  position: relative;
  height: 200px;
  color: #3A3F5C;
  text-align: left; }
  .item_card-img {
    margin-bottom: 12px;
    display: block;
    width: 100%;
    height: 130px;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.7); }
  .item_card-name {
    margin-bottom: 10px; }
  .item_card-cost {
    color: #A1A6BA; }
  .item_card-new {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #A1A6BA;
    font-size: 12px; }

* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: Arial, Helvetica, sans-serif; }
