.UI {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0; }
  .UI-kit {
    margin-bottom: 100px;
    width: 50%;
    text-align: center; }
  @media screen and (max-width: 700px) {
    .UI-kit {
      width: 100%; } }

.select {
  position: relative;
  display: inline-block;
  height: 42px;
  box-sizing: border-box;
  color: #FFF;
  text-align: left; }
  .select-input, .select-btn {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #3a3f5c;
    color: #FFF;
    line-height: 42px; }
  .select-input {
    width: 200px;
    height: 100%;
    padding: 0 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .select-btn {
    width: 40px;
    height: 100%;
    border-left: 2px solid #A1A6BB;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    text-align: center;
    cursor: pointer; }
  .select-btn_icon {
    position: relative;
    transition: 0.3s; }
  .select-value_list {
    z-index: 2;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    max-height: 232px;
    border-radius: 5px;
    background-color: #FFF;
    color: #3a3f5c;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.4);
    opacity: 0;
    height: 0;
    overflow: auto;
    transition: 0.3s; }
    .select-value_list .ps-scrollbar-y-rail {
      margin: 10px 0;
      right: 10px; }
      .select-value_list .ps-scrollbar-y-rail .ps-scrollbar-y {
        background-color: #3a3f5c; }
  .select-value {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: inherit;
    outline: none;
    color: inherit;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    transition: 0.3s; }
    .select-value:hover, .select-value--active {
      background-color: #F1F2F7; }
  .select--active .select-btn_icon {
    -webkit-transform: translateX(-2%) rotate(180deg);
    -ms-transform: translateX(-2%) rotate(180deg);
    transform: translateX(-2%) rotate(180deg); }
  .select--active .select-value_list {
    height: auto;
    opacity: 1; }

.select_number {
  display: inline-block;
  box-sizing: border-box;
  height: 42px;
  color: #FFF;
  text-align: left; }
  .select_number-value, .select_number-actions {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #3a3f5c;
    color: #FFF;
    line-height: 42px; }
  .select_number-value {
    width: 60px;
    padding: 0 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    font-size: 18px; }
  .select_number-actions {
    width: 40px;
    height: 100%;
    border-left: 2px solid #A1A6BB;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    text-align: center; }
  .select_number-btn {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    background-color: inherit;
    outline: none;
    text-align: center;
    color: #FFF;
    font-size: 8px;
    cursor: pointer; }
    .select_number-btn--top {
      border-bottom: 1px solid #A1A6BB;
      border-top-right-radius: 5px; }
    .select_number-btn--bottom {
      border-top: 1px solid #A1A6BB;
      border-bottom-right-radius: 5px; }
  .select_number-btn_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  transition: 0.3s; }
  .switch-line {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #F34F36;
    transition: 0.3s; }
  .switch-status {
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #F34F36;
    transition: 0.3s; }
  .switch-icon {
    position: absolute;
    top: 50%;
    color: rgba(51, 51, 51, 0.4);
    font-size: 16px; }
    .switch-icon--left {
      left: 10%;
      -webkit-transform: translate(30%, -50%);
      -ms-transform: translate(30%, -50%);
      transform: translate(30%, -50%); }
    .switch-icon--right {
      left: 90%;
      -webkit-transform: translate(-130%, -50%);
      -ms-transform: translate(-130%, -50%);
      transform: translate(-130%, -50%); }
  .switch--active .switch-line {
    background-color: #47D5A3; }
  .switch--active .switch-status {
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background-color: #47D5A3; }
  .switch--disabled .switch-line {
    background-color: #E4E8F1; }
  .switch--disabled .switch-status {
    background-color: #E4E8F1; }
  .switch--rounded {
    width: 70px;
    height: 40px;
    background-color: #F34F36;
    border-radius: 20px; }
    .switch--rounded .switch-status {
      left: 90%;
      background-color: #FFF; }
    .switch--rounded.switch--active {
      background-color: #47D5A3; }
      .switch--rounded.switch--active .switch-status {
        left: 10%; }
    .switch--rounded.switch--disabled {
      background-color: #E4E8F1; }
      .switch--rounded.switch--disabled .switch-status {
        background-color: rgba(255, 255, 255, 0.8); }

* {
  margin: 0;
  padding: 0;
  border: 0; }
