.UI {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
  background-color: #DEEAE0; }
  .UI-kit {
    margin-bottom: 100px;
    box-sizing: border-box;
    width: 50%;
    text-align: center; }
    .UI-kit--big {
      width: 100%; }
    .UI-kit--padding {
      padding: 0 5%; }
    .UI-kit .slider {
      margin: 0 auto;
      max-width: 1000px; }
  @media screen and (max-width: 700px) {
    .UI-kit {
      width: 100%; } }

.select {
  position: relative;
  display: inline-block;
  height: 42px;
  box-sizing: border-box;
  background-color: #3a3f5c;
  border-radius: 5px;
  color: #FFF;
  text-align: left; }
  .select-input, .select-btn {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: inherit;
    line-height: 42px;
    color: #FFF;
    cursor: pointer; }
  .select-input {
    width: 200px;
    height: 100%;
    padding: 0 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .select-btn {
    width: 40px;
    height: 100%;
    border-left: 2px solid #A1A6BB;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    text-align: center; }
  .select-btn_icon {
    position: relative;
    transition: 0.3s; }
  .select-value_list {
    z-index: 2;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    max-height: 232px;
    border-radius: 5px;
    background-color: #FFF;
    color: #3a3f5c;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.4);
    opacity: 0;
    height: 0;
    overflow: auto;
    transition: 0.3s; }
    .select-value_list .ps-scrollbar-y-rail {
      margin: 10px 0;
      right: 10px; }
      .select-value_list .ps-scrollbar-y-rail .ps-scrollbar-y {
        background-color: #3a3f5c; }
  .select-value {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: inherit;
    outline: none;
    color: inherit;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    transition: 0.3s; }
    .select-value:hover, .select-value--active {
      background-color: #F1F2F7; }
  .select--full_squared .select {
    border-radius: 0px; }
    .select--full_squared .select-input {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px; }
    .select--full_squared .select-btn {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px; }
  .select--bg_none {
    background-color: none; }
  .select--light .select-input {
    border: 1px solid #e7e8ed;
    border-right: none;
    background-color: #FFF;
    color: #3a3f5c; }
  .select--light .select-btn {
    border: 1px solid #e7e8ed;
    border-left: none;
    background-color: #FFF;
    color: #3a3f5c; }
  .select--active .select-btn_icon {
    -webkit-transform: translateX(-2%) rotate(180deg);
    -ms-transform: translateX(-2%) rotate(180deg);
    transform: translateX(-2%) rotate(180deg); }
  .select--active .select-value_list {
    height: auto;
    opacity: 1; }

.select_number {
  display: inline-block;
  box-sizing: border-box;
  height: 42px;
  color: #FFF;
  text-align: left; }
  .select_number-value, .select_number-actions {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #3a3f5c;
    color: #FFF;
    line-height: 42px; }
  .select_number-value {
    width: 60px;
    padding: 0 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    font-size: 18px; }
  .select_number-actions {
    width: 40px;
    height: 100%;
    border-left: 2px solid #A1A6BB;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    text-align: center; }
  .select_number-btn {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    background-color: inherit;
    outline: none;
    text-align: center;
    color: #FFF;
    font-size: 8px;
    cursor: pointer; }
    .select_number-btn--top {
      border-bottom: 1px solid #A1A6BB;
      border-top-right-radius: 5px; }
    .select_number-btn--bottom {
      border-top: 1px solid #A1A6BB;
      border-bottom-right-radius: 5px; }
  .select_number-btn_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  transition: 0.3s; }
  .switch-line {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #F34F36;
    transition: 0.3s; }
  .switch-status {
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #F34F36;
    transition: 0.3s; }
  .switch-icon {
    position: absolute;
    top: 50%;
    color: rgba(51, 51, 51, 0.4);
    font-size: 16px; }
    .switch-icon--left {
      left: 10%;
      -webkit-transform: translate(30%, -50%);
      -ms-transform: translate(30%, -50%);
      transform: translate(30%, -50%); }
    .switch-icon--right {
      left: 90%;
      -webkit-transform: translate(-130%, -50%);
      -ms-transform: translate(-130%, -50%);
      transform: translate(-130%, -50%); }
  .switch--active .switch-line {
    background-color: #47D5A3; }
  .switch--active .switch-status {
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background-color: #47D5A3; }
  .switch--disabled .switch-line {
    background-color: #E4E8F1; }
  .switch--disabled .switch-status {
    background-color: #E4E8F1; }
  .switch--rounded {
    width: 70px;
    height: 40px;
    background-color: #F34F36;
    border-radius: 20px; }
    .switch--rounded .switch-status {
      left: 90%;
      background-color: #FFF; }
    .switch--rounded.switch--active {
      background-color: #47D5A3; }
      .switch--rounded.switch--active .switch-status {
        left: 10%; }
    .switch--rounded.switch--disabled {
      background-color: #E4E8F1; }
      .switch--rounded.switch--disabled .switch-status {
        background-color: rgba(255, 255, 255, 0.8); }
  .switch--light {
    height: 36px;
    background-color: #f1f2f7; }
    .switch--light.switch--active {
      background-color: #f1f2f7; }
    .switch--light .switch-status {
      box-shadow: 0 0 20px rgba(51, 51, 51, 0.3); }
    .switch--light .switch-icon--left {
      color: rgba(243, 79, 54, 0.7); }
    .switch--light .switch-icon--right {
      color: rgba(71, 213, 163, 0.7); }

.checkbox_list {
  display: inline-block; }
  .checkbox_list-checkbox .checkbox {
    border-radius: 0; }
  .checkbox_list-checkbox:not(:last-child) .checkbox {
    border-bottom: none; }
  .checkbox_list-checkbox:first-child .checkbox {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .checkbox_list-checkbox:last-child .checkbox {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.checkbox {
  display: inline-block;
  border: 2px solid #3a3f5c;
  border-radius: 5px; }
  .checkbox-input {
    display: none;
    position: fixed;
    left: -9999px; }
  .checkbox-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 42px;
    background-color: inherit;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: #3a3f5c;
    cursor: pointer; }
  .checkbox-status {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 100%;
    background-color: rgba(58, 63, 92, 0.9); }
  .checkbox-status_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2px;
    border: 2px solid #3a3f5c;
    border-radius: 5px;
    background-color: #FFF;
    color: #FFF;
    font-size: 12px;
    transition: 0.3s; }
  .checkbox-name {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    padding: 0 10px;
    line-height: 44px;
    font-weight: bold;
    text-align: left; }
  .checkbox-input:checked + .checkbox-btn .checkbox-status_icon {
    color: #3a3f5c; }
  .checkbox-input:disabled + .checkbox-btn {
    background-color: #E4E7F0;
    opacity: 0.8; }

.radiobox_list {
  display: inline-block; }
  .radiobox_list-radiobox .radiobox {
    border-radius: 0; }
  .radiobox_list-radiobox:not(:last-child) .radiobox {
    border-bottom: none; }
  .radiobox_list-radiobox:first-child .radiobox {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .radiobox_list-radiobox:last-child .radiobox {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.radiobox {
  display: inline-block;
  border: 2px solid #3a3f5c;
  border-radius: 5px; }
  .radiobox-input {
    display: none;
    position: fixed;
    left: -9999px; }
  .radiobox-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 42px;
    background-color: inherit;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: #3a3f5c;
    cursor: pointer; }
  .radiobox-status {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 100%;
    background-color: rgba(58, 63, 92, 0.9); }
  .radiobox-status_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2px;
    border: 2px solid #3a3f5c;
    border-radius: 50%;
    background-color: #FFF;
    color: #FFF;
    font-size: 12px;
    transition: 0.3s; }
  .radiobox-name {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    padding: 0 10px;
    line-height: 44px;
    font-weight: bold;
    text-align: left; }
  .radiobox-input:checked + .radiobox-btn .radiobox-status_icon {
    color: #3a3f5c; }
  .radiobox-input:disabled + .radiobox-btn {
    background-color: #E4E7F0;
    opacity: 0.8; }

.select_file {
  display: inline-block;
  width: 500px;
  height: 300px; }
  .select_file-input {
    display: none;
    position: fixed;
    left: -9999px; }
  .select_file-file_list {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    border: 2px dashed rgba(58, 63, 92, 0.7);
    border-radius: 5px;
    text-align: center; }
    .select_file-file_list .ps-scrollbar-y-rail {
      margin: 10px 0;
      right: 10px; }
      .select_file-file_list .ps-scrollbar-y-rail .ps-scrollbar-y {
        background-color: #3a3f5c; }
  .select_file-file {
    margin: 0 20px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 40%;
    height: 75px;
    padding: 0 20px;
    background-color: #3a3f5c;
    border-radius: 5px;
    line-height: 75px;
    color: #FFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*&:last-child{
            &:after{
                content: '';
                clear: both;
            }
        }*/ }
    .select_file-file:not(:last-child) {
      margin-bottom: 20px; }
  .select_file-btn {
    display: inline-block;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #3a3f5c;
    outline: none;
    line-height: 40px;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer; }
    .select_file-btn--choose {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #4CE1AA;
      box-shadow: 0 10px 20px rgba(51, 51, 51, 0.4); }
    .select_file-btn--new_files {
      background-color: #4CE1AA; }
    .select_file-btn--add {
      background-color: #4CE1AA; }
    .select_file-btn--remove_files {
      background-color: #ea4e37; }
  .select_file-actions {
    width: 100%;
    text-align: center; }
  @media screen and (max-width: 750px) {
    .select_file {
      width: 300px; }
      .select_file-file {
        margin-left: 0;
        margin-right: 0;
        width: 100%; } }

.search-input, .search-select, .search-btn {
  display: inline-block;
  vertical-align: middle; }

.search-input {
  box-sizing: border-box;
  width: 320px;
  height: 42px;
  padding: 0 20px;
  outline: none;
  border: 1px solid #e7e8ed;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #B9BED1;
  font-size: 16px; }

.search-select .select-input {
  width: 140px;
  font-size: 16px; }

.search-btn {
  box-sizing: border-box;
  height: 42px;
  width: 55px;
  background-color: #00e4a8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
  color: #FFF;
  cursor: pointer; }

@media screen and (max-width: 650px) {
  .search {
    width: 180px; }
    .search-input, .search-select, .search-btn {
      width: 100%; }
    .search-input {
      border-bottom-left-radius: 0px;
      border-top-right-radius: 20px; }
    .search-select .select {
      width: 180px; }
    .search-btn {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 20px; } }

.slider {
  position: relative;
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden; }
  .slider-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #E4E7F0; }
    .slider-header .name {
      display: inline-block;
      vertical-align: middle;
      color: #3A3F5C;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase; }
    .slider-header .switch {
      margin-left: 10px;
      vertical-align: middle; }
    .slider-header .description {
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      text-transform: capitalize; }
  .slider-btn {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    background-color: inherit;
    border: 2px solid #E4E7F0;
    outline: none;
    line-height: 24px;
    color: #333;
    cursor: pointer;
    transition: 0.3s; }
    .slider-btn--left {
      border-right-width: 1px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
    .slider-btn--right {
      border-left-width: 1px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px; }
    .slider-btn--disabled {
      background-color: #EC4E35;
      border-color: #EC4E35;
      color: #FFF;
      opacity: 0.7; }
  .slider-slide_list {
    position: relative;
    width: 100%;
    white-space: nowrap;
    transition: 0.3s; }
  .slider-slide {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 25%;
    padding: 20px; }
  .slider--scrolled .slider-slide_list {
    padding-bottom: 10px; }
    .slider--scrolled .slider-slide_list .ps-scrollbar-x-rail {
      margin: 0 20px;
      bottom: 10px;
      opacity: 0.6; }
      .slider--scrolled .slider-slide_list .ps-scrollbar-x-rail .ps-scrollbar-x {
        background-color: #3a3f5c; }
  @media screen and (max-width: 1000px) {
    .slider-slide {
      padding-left: 10%;
      padding-right: 10%;
      width: 50%; } }
  @media screen and (max-width: 700px) {
    .slider-slide {
      padding-left: 30%;
      padding-right: 30%;
      width: 100%; } }
  @media screen and (max-width: 500px) {
    .slider-header {
      height: 100px;
      padding: 10px 0;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; } }
  @media screen and (max-width: 550px) {
    .slider-slide {
      padding-left: 20%;
      padding-right: 20%;
      width: 100%; } }
  @media screen and (max-width: 400px) {
    .slider-slide {
      padding-left: 15%;
      padding-right: 15%;
      width: 100%; } }

.item_card {
  position: relative;
  height: 200px;
  color: #3A3F5C;
  text-align: left; }
  .item_card-img {
    margin-bottom: 12px;
    display: block;
    width: 100%;
    height: 130px;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.7); }
  .item_card-name {
    margin-bottom: 10px; }
  .item_card-cost {
    color: #A1A6BA; }
  .item_card-new {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #A1A6BA;
    font-size: 12px; }

.diagram {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border: 3px solid #333;
  border-radius: 50%;
  font-size: 100px; }
  .diagram-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 3px solid #333;
    border-radius: 50%;
    clip: rect(0em, 1em, 1em, 0.5em); }
  .diagram-lal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(200deg);
    -ms-transform: translate(-50%, -50%) rotate(200deg);
    transform: translate(-50%, -50%) rotate(200deg);
    width: 100%;
    height: 100%;
    border: 3px solid orangered;
    border-radius: 50%;
    clip: rect(0em, 0.5em, 1em, 0em); }
  .diagram-value {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px; }

.kek {
  display: inline-block; }

@font-face {
  font-family: weather;
  src: url(./weather/weather4.otf); }

.weather {
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  background-color: #FFF;
  border-radius: 5px;
  color: #3a3f5c;
  text-align: center;
  box-shadow: 0 0 40px rgba(58, 63, 92, 0.5); }
  .weather-value {
    position: relative;
    border-top: 1px solid #f1f1f3;
    border-bottom: 1px solid #f1f1f3;
    line-height: 160px;
    font-family: weather;
    font-size: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .weather-value:hover .weather-info {
      -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%); }
  .weather-info {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    line-height: 40px;
    font-size: 20px;
    text-align: left;
    transition: 0.3s; }
  .weather-date, .weather-location {
    box-sizing: border-box;
    padding: 0 20px;
    line-height: 48px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase; }
  .weather-date {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: left; }
  .weather-location {
    background-color: #f1f2f7; }
  .weather-icon--type {
    width: 30px;
    height: 30px; }
  .weather-icon--deg {
    position: relative;
    top: -20px;
    font-size: 40px; }

@font-face {
  font-family: logo;
  src: url("./navigation/logo/logo.otf"); }

.logo-name {
  font-family: logo;
  font-size: 32px;
  font-weight: normal; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 90px;
  border: 2px solid #e6e7ec;
  border-radius: 20px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s; }
  .btn:hover {
    border-color: #00e4a8;
    color: #00e4a8; }
  .btn--no_bordered {
    border: none;
    border-radius: 0px; }
    .btn--no_bordered:hover {
      color: #00e4a8; }

.navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 90px;
  padding: 0 35px;
  border-radius: 5px;
  text-align: left; }
  .navigation-logo, .navigation-search, .navigation-actions {
    display: inline-block;
    vertical-align: middle; }
  .navigation-actions {
    text-align: right; }
  .navigation-btn {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle; }
    .navigation-btn:first-child {
      margin-left: 0px; }
  .navigation--light {
    background-color: #FFF;
    color: #3a3f5c; }
  @media screen and (max-width: 1300px) {
    .navigation-search .search-input {
      max-width: 200px; } }
  @media screen and (max-width: 1100px) {
    .navigation {
      padding: 20px 35px; }
      .navigation-actions {
        margin-top: 20px;
        width: 100%;
        text-align: center; } }
  @media screen and (max-width: 800px) {
    .navigation {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .navigation-logo {
        margin-bottom: 20px; } }
  @media screen and (max-width: 450px) {
    .navigation-actions {
      text-align: center; }
    .navigation-btn {
      margin-left: 0px;
      width: 100%; }
      .navigation-btn:not(:last-child) {
        margin-bottom: 10px; } }

.audio {
  color: #3a3f5c; }
  .audio-value {
    display: none; }
  .audio-info {
    position: relative;
    padding: 20px;
    text-align: left; }
  .audio-cover {
    display: block;
    width: 100%;
    height: 280px; }
  .audio-name {
    margin-bottom: 8px;
    font-weight: bold; }
  .audio-performer {
    color: #A1A6BB; }
  .audio-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
    border: 2px solid #A1A6BB;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s; }
    .audio-btn .fa {
      position: absolute;
      top: 50%;
      left: 51%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .audio-btn:hover {
      border-color: #3a3f5c;
      background-color: #3a3f5c;
      color: #fe5339; }

.audio_controls {
  padding: 20px;
  border-top: 1px solid #ebebed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .audio_controls-btn {
    display: inline-block;
    vertical-align: middle;
    background-color: inherit;
    outline: none;
    color: #3a3f5c;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer; }
    .audio_controls-btn--play {
      position: relative;
      width: 45px;
      height: 45px;
      background-color: #fe5339;
      border-radius: 50%;
      color: #FFF; }
      .audio_controls-btn--play .fa-play {
        position: absolute;
        top: 50%;
        left: 54%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1; }
      .audio_controls-btn--play .fa-pause {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0; }
    .audio_controls-btn--active {
      color: #fe5339; }
  .audio_controls-is_playing {
    display: none; }
  .audio_controls-is_playing:checked + .audio_controls-btn .fa-play {
    opacity: 0; }
  .audio_controls-is_playing:checked + .audio_controls-btn .fa-pause {
    opacity: 1; }

.audio_progress {
  color: #3a3f5c; }
  .audio_progress-time {
    margin-bottom: 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .audio_progress-progress_time {
    display: inline-block;
    color: #fe5339; }
  .audio_progress-full_time {
    display: inline-block; }
  .audio_progress-bar {
    position: relative;
    width: 100%;
    height: 15px; }
  .audio_progress-full_bar {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    height: 3px;
    background-color: #f1f1f9; }
  .audio_progress-progress_bar {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 0%;
    height: 3px;
    background-color: #fe5339; }
  .audio_progress-control {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: #3a3f5c;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(58, 63, 92, 0.4); }

.audio_player {
  display: inline-block;
  width: 280px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(58, 63, 92, 0.4); }
  .audio_player-audio_progress {
    padding: 0 20px 20px 20px; }

* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: Arial, Helvetica, sans-serif; }
