@import 'UI/UI.scss';

@import './select/select.scss';
@import './select-number/select-number.scss';
@import './switch/switch.scss';
@import './checkbox-list/checkbox-list.scss';
@import './checkbox/checkbox.scss';
@import './radiobox-list/radiobox-list.scss';
@import './radiobox/radiobox.scss';
@import './select-file/select-file.scss';
@import './range/range.scss';

@import './search/search.scss';

@import './slider/slider.scss';
@import './item-card/item-card.scss';

@import './diagram/diagram.scss';
@import './weather/weather.scss';

@import './navigation/navigation.scss';

@import './audio-player/audio-player.scss';

@import './datapicker/datapicker.scss';
@import './select-cost/select-cost.scss';


@font-face{
    font-family: roboto--r;
    src: url('./Roboto-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: roboto--r, Arial, Helvetica, sans-serif;
}