@import 'UI/UI.scss';
@import './select/select.scss';
@import './select-number/select-number.scss';
@import './switch/switch.scss';
@import './checkbox-list/checkbox-list.scss';
@import './checkbox/checkbox.scss';
@import './radiobox-list/radiobox-list.scss';
@import './radiobox/radiobox.scss';
@import './select-file/select-file.scss';

@import './slider/slider.scss';
@import './item-card/item-card.scss';

@import './diagram/diagram.scss';
@import './weather/weather.scss';

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}