/* z-index of content is 4*/

/* video interface start */
.video-container{
	z-index: 3;
	position: absolute;
	height:100%;
	width:100%;

	overflow: hidden;
	background-color: rgba(0,0,0,1);

	

	-moz-transition: 2s;
	-ms-transition: 2s;
	-webkit-transition: 2s;
	-o-transition: 2s;
	transition: 2s;
}
.video-container > video{
	height:100%;
	width:100%;

	-moz-object-fit: fill;
	-ms-object-fit: fill;
	-webkit-object-fit: fill;
	-o-object-fit: fill;
	object-fit: fill;
}
@media screen and (max-width: 700px ) {
	.video-container > video{
		-moz-object-fit: cover;
		-ms-object-fit: cover;
		-webkit-object-fit: cover;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

/* video buttons start */
.btn-video-play, .btn-video-stop{
	margin-bottom: 45px;
	width: 60px;
	height: 60px;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	-moz-box-shadow: 0 0 2px #323969;
	-ms-box-shadow: 0 0 2px #323969;
	-webkit-box-shadow: 0 0 2px #323969;
	-o-box-shadow: 0 0 2px #323969;
	box-shadow: 0 0 2px #323969;
	background-color: #323969;
	
	padding-left: 4px;
	font-size: 20px;
	color: #FFFFFF;

	-moz-transition: 0.7s;
	-ms-transition: 0.7s;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}
.btn-video-stop{
	z-index: 6;
	position: absolute;
	top: 50px;
	right: 50px;
	margin-bottom: 0;
	padding-left: 0px;
	padding-bottom: 3px;
	
	width: 30px;
	height: 30px;
	font-size: 20px;
	
	display: none;
	opacity: 0;		
}
.btn-video-play:hover, .btn-video-stop:hover{
	-moz-box-shadow: 0 0 20px #323969;
	-ms-box-shadow: 0 0 20px #323969;
	-webkit-box-shadow: 0 0 20px #323969;
	-o-box-shadow: 0 0 20px #323969;
	box-shadow: 0 0 20px #323969;
}
@media handheld{
	.btn-video-play:hover, .btn-video-stop:hover{
		box-shadow: none;
	}
}
/* video buttons end */
/* video action start */
.video-container.open{
	opacity: 1;
}
.btn-video-stop.open{
	display: block;
	opacity: 0.8;
}
	.btn-video-stop.open:hover{
		opacity: 1;
	}
.wrapper-content-index.open,
nav.open-video{
	opacity: 0;
}
/* video action end */
/* video interface end */

